<div class="container">  
  <input type="button" class="btn btn-primary" (click)="loadAddnew()" data-toggle="modal" data-target="#myModal" value="Criar Novo">  
  <hr>  
  <!-- <div *ngIf="!dataavailable">  
  
    <h4> Não existem leilões. Adicione um novo registro clicando em Criar Novo</h4>  
  </div>   -->
  
  <table class="table table-hover">  
    <thead>  
      <tr>  
        <th scope="col">Id:</th>  
        <th scope="col">Nome do Leilão</th>  
        <th scope="col">Valor Inicial</th>  
        <th scope="col">Condição</th>  
        <th scope="col">Leiloeiro</th>
        <th scope="col">Data Inicial</th>  
        <th scope="col">Data Final</th>  
        <th scope="col" style="align-content: center">Acões</th>  
      </tr>  
    </thead>  
    <tbody>  
      <tr *ngFor="let auc of aucList">  
        <td >{{auc.id}}</td>  
        <td >{{auc.auctionName}}</td>  
        <td >{{auc.initialBet}}</td>  
        <td >{{auc.usedItem=="1"?'Usado':'Novo'}}</td>  
        <td >{{auc.auctioneer}}</td>  
        <td >{{auc.startDate | date: 'dd/MM/yyyy' }}</td>  
        <td >{{auc.endDate | date: 'dd/MM/yyyy'}}</td>  
        <td >  
          <button type="button" class="btn btn-default btn-primary" (click)="loadnewForm(auc.Id,auc.AuctionName,auc.InitialBet, auc.UsedItem,auc.Auctioneer,auc.StartDate,auc.EndDate)"  
            data-toggle="modal" data-target="#myModaledit">  
            <span class="glyphicon glyphicon-edit"></span> Editar  
          </button>  
          |  
          <button type="button" class="btn btn-default btn-danger" (click)="deleteconfirmation(auc.Id)">  
            <span class="glyphicon glyphicon-trash"></span> Excluir  
          </button>  
  
        </td>  
      </tr>  
    </tbody>  
  </table>  
  
  <div id="myModal" class="modal fade" role="dialog">  
    <div class="modal-dialog">  
      <div class="modal-content">  
        <div class="modal-header">  
          <button type="button" class="close" data-dismiss="modal">×</button>  
          <h3 class="modal-primary">Adicionar Leilão </h3>  
        </div>  
        <div class="modal-body">  
  
          <app-auction-add #auctionadd (nameEvent)="RefreshData($event)"></app-auction-add>  
  
        </div>  
        <div class="modal-footer">  
          <button type="button" #closeBtn class="btn btn-danger" data-dismiss="modal">Fechar</button>  
        </div>  
      </div>  
  
    </div>  
  </div>  
  
  <div id="myModaledit" class="modal fade" role="dia    log">  
    <div class="modal-dialog">  
      <div class="modal-content">  
        <div class="modal-header">  
          <button type="button" class="close" data-dismiss="modal">×</button>  
          <h4 class="modal-title">Editar</h4>  
        </div>  
        <div class="modal-body">  
          <app-auction-update (nameEvent)="RefreshData($event)" [isReset]="resetForm" #regForm></app-auction-update>  
        </div>  
        <div class="modal-footer">  
          <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>  
        </div>  
      </div>  
  
    </div>  
  </div>  