<nav class="navbar navbar-inverse" style="background:#337ab7;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"  style="color:white" href="">MyBets - Seu portal de Leilões!</a>
    </div>
    <ul class="nav navbar-nav">
     </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"style="color:white"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li><a href="#" style="color:white"><span class="glyphicon glyphicon-search"></span>Leiloes</a></li>
    </ul>                             
  </div>
</nav> 


<router-outlet></router-outlet> 