<div class="container" style="border:thin">  
  <form #auctionadd='ngForm' autocomplete="off" (ngSubmit)="Register(auctionadd)" class="form-horizontal" style="width:50%"  >    
  
    <div class="form-group" >  
      <input #Id="ngModel" type="hidden" name="Id"  [(ngModel)]="dataService.newAuction.Id">
      <label class="control-label col-sm-2" for="AuctionName" >Nome do Leilao:</label>  
              <div class="col-sm-10">  
                <input #ActionName="ngModel" style="width:50%" required type="AuctionName" [(ngModel)]="dataService.newAuction.AuctionName" class="form-control ng-" width="50%" id="auctionName" placeholder="Nome do Leilao" name="AuctionName">  
            <!-- <div class="help-bpx" *ngIf="AuctionName.touched && !AuctionName.valid ">Obrigatorio</div> -->
              </div>  
            </div>  
            <div class="form-group" >  
              <label class="control-label col-sm-2" for="InitialBet">Valor Inicial:</label>  
              <div class="col-sm-10">  
                <input  #InitialBet="ngModel" style="width:50%" required type="number" min ="0" value="0" step="0.50" class="form-control" width="50%" id="initialBet" placeholder="Valor Inicial" name="InitialBet" [(ngModel)]='dataService.newAuction.InitialBet' onblur="this.parentNode.parentNode.style.backgroundColor=/^\d+(?:\.\d{1,2})?$/.test(this.value)?'inherit':'red'">  
               <!-- <div class="help-bpx" *ngIf="InitialBet.touched && !InitialBet.valid ">Obrigatorio</div> -->
              </div>   
            </div>  
            <div class="form-group" >  
              <label class="control-label col-sm-2" for="UsedItem">Condição:</label>  
              <div class="col-sm-10">  
                <select #UsedItem="ngModel" name="UsedItem" usedItem required [(ngModel)]='dataService.newAuction.UsedItem'>  
                <option value="0" selected disabled>Selecione</option>  
                <option value="1">Usado</option>  
                <option value="2">Novo</option>  
               <!-- <div class="help-bpx" *ngIf="UsedItem.touched && !UsedItem.valid ">Obrigatorio</div> -->
              </select>  
              </div>  
            </div>  
            <div class="form-group" >  
              <label class="control-label col-sm-2" for="Auctioneer">Leiloeiro:</label>  
              <div class="col-sm-10">  
                <input #Auctioneer="ngModel"  style="width:50%" required type="Auctioneer" [(ngModel)]='dataService.newAuction.Auctioneer' class="form-control" width="50%" id="auctioneer" placeholder="Leiloeiro" name="Auctioneer">  
                <!-- <div class="help-bpx" *ngIf="Auctioneer.touched && !Auctioneer.valid ">Obrigatorio</div>   -->
              </div>  
            </div> 
            <div class="form-group" >  
              <label class="control-label col-sm-2" for="startDate">Data Inicial:</label>  
              <div class="col-sm-10">  
                <input #StartDate="ngModel"  style="width:50%" type="date" [(ngModel)]='dataService.newAuction.StartDate' class="form-control" width="50%" id="startDate" placeholder="Data Inicial" name="StartDate">  
                <!-- <div class="help-bpx" *ngIf="StartDate.touched && !StartDate.valid ">Obrigatorio</div>   -->
              </div>  
            </div> 
            <div class="form-group" >  
              <label class="control-label col-sm-2" for="endDate">Data Final:</label>  
              <div class="col-sm-10">  
                <input #EndDate="ngModel"  style="width:50%" type="date" [(ngModel)]='dataService.newAuction.EndDate' class="form-control" width="50%" id="endDate" placeholder="Data Final" name="EndDate">  
                <!-- <div class="help-bpx" *ngIf="EndDate.touched && !EndDate.valid ">Obrigatorio</div>   -->
              </div>  
            </div>  
             <div class="form-group">
              <div class="col-sm-offset-3 col-sm-10">  
                <div class="validation-error">Todos os campos são obrigatórios.</div>         
              </div>
                <div class="col-sm-offset-9 col-sm-10">  
                <button  id="btnsubmit"  type="submit" class="btn btn-success">Salvar</button>  
              </div>  
            </div>  
          </form>  
        </div>  
        <button style="display:none" type="button" #closeBtn  class="col-sm-offset-6 col-sm-10 btn btn-default"   data-dismiss="modal">Fechar</button>  