<div class="container" style="border:thin">  
  <form #EditForm='ngForm' autocomplete="off" name="editform" (ngSubmit)="EditAuction(EditForm)" class="form-horizontal" style="width:50%">  
    <div class="form-group">  
      <label class="control-label col-sm-2" for="auctionName" >Nome do Leilao:</label>  
              <div class="col-sm-10">  
                <input #ActionName="ngModel" style="width:50%" required type="AuctionName" [(ngModel)]="dataService.newAuction.AuctionName" class="form-control" width="50%" id="auctionName" placeholder="Nome do Leilao" name="AuctionName">  
             <!-- <span class="help-bpx" *ngIf="auctionName.touched && !auctionName.valid ">Obrigatorio</span>  -->
              </div>  
            </div>  
            <div class="form-group" >  
              <label class="control-label col-sm-2" for="initialBet">Valor Inicial:</label>  
              <div class="col-sm-10">  
                <input  #InitialBet="ngModel" style="width:50%" required type="number" min ="0" value="0" step="0.50" class="form-control" width="50%" id="initialBet" placeholder="Valor Inicial" name="InitialBet" [(ngModel)]='dataService.newAuction.InitialBet' onblur="this.parentNode.parentNode.style.backgroundColor=/^\d+(?:\.\d{1,2})?$/.test(this.value)?'inherit':'red'">  
                <!-- <span class="help-bpx" *ngIf="initialBet.touched && !initialBet.valid ">Obrigatorio</span>   -->
              </div>   
            </div>  
            <div class="form-group" >  
              <label class="control-label col-sm-2" for="usedItem">Condição:</label>  
              <div class="col-sm-10">  
                <select #UsedItem="ngModel" name="UsedItem" usedItem required [(ngModel)]='dataService.newAuction.UsedItem'>
                <option value="0" selected disabled>Selecione</option>  
                <option value="1">Usado</option>  
                <option value="2">Novo</option>  
                <!-- <span class="help-bpx" *ngIf="usedItem.touched && !usedItem.valid ">Obrigatorio</span>   -->
              </select>  
              </div>  
            </div>  
            <div class="form-group" >  
              <label class="control-label col-sm-2" for="auctioneer">Leiloeiro:</label>  
              <div class="col-sm-10">  
                <input #Auctioneer="ngModel"  style="width:50%" required type="Auctioneer" [(ngModel)]='dataService.newAuction.Auctioneer' class="form-control" width="50%" id="auctioneer" placeholder="Leiloeiro" name="Auctioneer">  
                <!-- <span class="help-bpx" *ngIf="auctioneer.touched && !auctioneer.valid ">**</span>   -->
              </div>  
            </div> 
            <div class="form-group" >  
              <label class="control-label col-sm-2" for="startDate">Data Inicial:</label>  
              <div class="col-sm-10">  
                <input #StartDate="ngModel"  style="width:50%" type="date" [(ngModel)]='dataService.newAuction.StartDate' class="form-control" width="50%" id="startDate" placeholder="Data Inicial" name="StartDate">
                <!-- <span class="help-bpx" *ngIf="startDate.touched && !startDate.valid ">**</span>   -->
              </div>  
            </div> 
            <div class="form-group" >  
              <label class="control-label col-sm-2" for="endDate">Data Final:</label>  
              <div class="col-sm-10">  
                <input #EndDate="ngModel"  style="width:50%" type="date" [(ngModel)]='dataService.newAuction.EndDate' class="form-control" width="50%" id="endDate" placeholder="Data Final" name="EndDate">  
                <!-- <span class="help-bpx" *ngIf="endDate.touched && !endDate.valid ">**</span>   -->
              </div>  
            </div>  
    <div class="form-group">  
      <div class="col-sm-offset-2 col-sm-10">  
        <button type="submit" class="btn btn-primary">Salvar</button>  
      </div>  
    </div>  
  </form>  
</div>  
<button style="display:none" type="button" #closeBtn class="btn btn-default" data-dismiss="modal">Fechar</button>  